{% extends "base.html" %}

{% block content %}
    <h1>Создание теста</h1>
    <form action="" method="post" class="block-window">
        {{ form.hidden_tag() }}
        <p>
        <h2>{{ form.title.label }}</h2>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
        <p>{{ form.go_to_edit(type="submit", class="btn btn-primary") }}</p>
        <p>{{ form.save_and_exit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
{% endblock %}